# Entorno virtual
.venv/

# Datos y checkpoints
data/
logs/
checkpoints/
*.crc
*.parquet

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.tmp
.DS_Store

# Configuración local
.env
*.log

# Archivos de IDE
.vscode/
.idea/